<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/public/styles/styles.css">
    {{!-- <link rel="stylesheet" href="../public/styles/styles.css"> --}}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DND_CC-API</title>
</head>
<body>
    <header>
    <h1 class="intro">Welcome to the API for the</h1> 
    <h1 class="title">Dungeons <br/>& Dragons</h1>  <h1 class="subheader">Character Creator!</h1>
    </header>
    <div class="toFrontEnd">
    <h2 class="frontEndLink">Please visit the live app <a href="https://dndcc.herokuapp.com/">HERE!</a></h2>
    <br/> 
    <h6>The live app provides the opportunity to create your own character!</h6>
    </div>

     <div class="endpoints">
        <h4>Feel free to explore the raw data at the following endpoints:</h4>
        <p class="endLink"><a href="https://dndcc-api.herokuapp.com/characters">/characters <br/>(To view a collection of all characters stored in the database)</a></p>
        <p class="endLink" id="characters">/characters/ < individual character id goes here > 
     <br/>
            (To view an individual character)
        <br/><br/>
        For Example:<a href="https://dndcc-api.herokuapp.com/characters/601c5bc545c03000155f05de">https://dndcc-api.herokuapp.com/characters/601c5bc545c03000155f05de</a></p>
    </div>

</body>
</html>