<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DND_CC-API</title>

</head>
<body>
    <div class="main" style="background-color:#003049; height: 100%; width: 100%; display:flex;flex-direction:column; align-items:center;",
>
    <div class="header" style="border-bottom: #dc3545 solid 5px; padding:3rem;">
    <h1 style="color:  #fcbf49; display:flex; align-self:center;">Welcome to the API for the Dungeons & Dragons Character Creator!</h1>
    </div>

    <h2 style="color:  #fcbf49; margin-top:5rem;">Please visit the live app <a style="color:  #f77f00;" href="https://dndcc.herokuapp.com/">HERE!</a></h2>
    <br/> <p style="color:  #fcbf49;">The live app provides the opportunity to create your own character!</p>
   <div class="endpoints" style="border: #dc3545 solid 5px; padding:3rem; margin: 5rem;">
    <h4 style="color:  #fcbf49;">Feel free to explore the raw data here in the database at the following endpoints:</h4>
    <p style="color:  #fcbf49;"><a style="color:  #f77f00;" href="https://dndcc-api.herokuapp.com/characters">/characters <br/>(To view a collection of all characters stored in the database)</a></p><br/>
    <p style="color:  #fcbf49;">/characters/ < individual character id goes here > <br/>(To view an individual character)
    <br/><br/> For Example: <a style="color:  #f77f00;" href="https://dndcc-api.herokuapp.com/characters/601c5bc545c03000155f05de">https://dndcc-api.herokuapp.com/characters/601c5bc545c03000155f05de</a></p>
    </div>



    </div>
</body>
</html>